
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Thread.CurrentThread.CurrentCulture.DisplayName</p>
    <p>@Thread.CurrentThread.CurrentUICulture.DisplayName</p>
</div>